<h1>Editing user</h1>

<%= form_for(@user, :as=>:user, :url=>{:action=>:edit}, :html=>{:method=>:put}) do |form| %>
  <%= render :partial=>'form', :object=>form %>
<% end %>

<p>
<%= button_to 'Permanently Delete Account',
        { :action=>'destroy' },
        :confirm => 'Are you sure you wish to permanently delete this account?',
        :method => :delete %>
</p>

